body {
  background-color: #0a0401;
  color: #fff;
}
.sticky {
  position: sticky;
}
.w-100 {
  width: 100%;
}
.bordered {
  position: relative;
  border: 10px solid orange;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0.75rem #505050;
  padding: 10px;
  overflow: hidden;
}
.borderedLight {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0.5rem #505050;
  padding: 10px;
  overflow: hidden;
}
