body {
  background-color: #0a0401;
  color: #fff;
}
.sticky {
  position: sticky;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.bordered {
  position: relative;
  border: 10px solid orange;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0.75rem #505050;
  padding: 10px;
  overflow: hidden;
}
.borderedLight {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0.5rem #505050;
  padding: 10px;
  overflow: hidden;
}
.profile {
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-radius: 30px;
}
.links a {
  color: #a8a8a8;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
